.App {
    text-align: center;
}

header {
    margin-top: 60px;
}
.main {
    margin-top: 20px;
}
.header {
    height: 150px;
    width: 80%;
    margin: 0 auto;
}
a:hover{
    cursor: pointer;
}
// *{
//     margin: auto;
// }
/* MainTain */

.App-MainTain {
    .text-center {
        text-align: center !important;
        background: rgb(110, 192, 161);
        margin: 0;
        height: 150px;
        line-height: 12px;
    }
     .header {
        width: 80%;
        margin: 0 auto;
    }
    
    #td {
        float: left;
        font-size: 180%;
        margin: 40px 0;
    }
    
     #right {
        float: right;
        margin: 60px 0;
        font-size: 80%;
    }
    
     i.fas.fa-wrench {
        font-size: 200%;
        margin: 40px 0;
    }
    
   .breadcrumb-classic {
        position: relative;
    }
    
     .breadcrumb-classic .svg-triangle-bottom {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 60px;
        height: 30px;
        margin-top: -1px;
        margin-left: -30px;
        z-index: 2;
    }
    
    #a {
        margin-top: 80px;
        font-size: 25px;
        color: black;
        padding-top: 100px;
    }
    
    #b {
        font-size: 40px;
        margin: 0;
    }
    .col-sm-3 {
        padding-bottom: 10px;
    }
     .day {
        border: 2px solid rgb(243, 242, 242);
        border-radius: 50px;
        width: 100px;
        height: 100px;
        font-size: 40px;
    }
    
     .hour {
        border: 2px solid rgb(243, 242, 242);
        border-radius: 50px;
        width: 100px;
        height: 100px;
        font-size: 40px;
    }
    
     .min {
        border: 2px solid rgb(243, 242, 242);
        border-radius: 50px;
        width: 100px;
        height: 100px;
        font-size: 40px;
    }
    
    .sec {
        border: 2px solid rgb(243, 242, 242);
        border-radius: 50px;
        width: 100px;
        height: 100px;
        font-size: 40px;
    }
    
    .row {
        margin: 60px auto;
        width: 60%;
    }
    
     .row p {
        font-size: 13px;
        color: grey;
    }
    
    .input-group {
        max-width: 500px;
        margin: 0 auto;
        width: 60%;
    }
    
     .form-control {
        widows: 30%;
    }
}



/* */

.app-header {
    
        position: relative;
        background-image: linear-gradient(to right, #9ac9d4, #76b97e);
        margin-bottom: 100px;
        color: white;
    
    .breadcrumb-classic {
        position: relative;
    }
     .breadcrumb-classic .svg-triangle-bottom {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 60px;
        height: 30px;
        margin-top: -1px;
        margin-left: -30px;
        z-index: 2;
    }
    
     i.fas.fa-user-friends {
        font-size: 45px;
        margin-top: 60px;
        margin-right: -3%;
        width: 40%;
    }
    
     .left {
        float: left;
        width: 27%;
        font-size: 250%;
        margin-top: 59px;
    }
    // img#logo {
    //     margin-right: -35px;
    //     width: 120px;
    //     float: left;
    //     margin-top: 13px;
    // }
     .right {
        float: right;
        margin-top: 74px;
        width: 30%;
    }
    
}
@media only screen and (max-width: 1024px) {
    .app-header .left{
        font-size: 223%;
    }
}
@media only screen and (max-width: 576px) {
    .app-header .left{
        width: 100%;
    }
}


.main-reg {
    hr {
        width: 40px;
        border: 1px solid #57bd57;
        margin: 20px auto;
    }
     h1 {
        margin-left: 20px;
    }
    a{
        padding-left: 20px;
    }
   p{
       margin-left: 6%;
   }
    .td {
        width: 300px;
        display: block;
        margin: auto;
        margin-top: 60px;
    }
    .Header   h1 {
        margin-top: 0;
        margin-left: 1%;
    }
    // .td {
    //     height: 50px;
    //     width: 172px;
    //     display: block;
    //     margin: auto;
    //     margin-top: 5%;
    // }
    .Header {
        margin: auto;
        margin-top: 60px;
    }
    
   
    .Boder {
        width: 40px;
        border: 1px solid #57bd57;
        margin: 20px auto;
    }
    #a {
        float: left;
        color: black;
    }
    
    #b {
        float: right;
        color: black;
    }
    
  .form-group {
        max-width: 400px;
        //margin: 20px auto;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    .in {
        margin: 20px;
    }
    
    //  #a:hover {
    //     border-bottom: 1px solid black;
    //     color: black;
    // }
    
    // #b:hover {
    //     border-bottom: 1px solid black;
    //     color: black;
    // }
    form {
        width: 90%;
        margin: auto;
        padding-top: 48px;
    }
    
    .form-group {
        width: auto;
        margin: 20px auto;
    }
    
    label {
        float: left;
    }
    
    button {
        width: 300px;
    }
    
    i {
        font-size: 30px;
        margin-right: 20px;
    }
    .orwith{margin-left: -2%}
}







/* ListPosts */
.list{
     .col-xs-4.col-sm4.col-md-4.col-lg-4 {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 30px;
        width: auto;
    }
    
      .pagination {
        margin: 40px auto;
        display: flex;
        padding-left: 0;
        list-style: none;
        border-radius: 0.25rem;
        
    
    }
    .page {
        width: max-content;
        /* width: 80%; */
        margin: auto;
    }
     .pagination>li:hover,  .pagination li a p:focus,  .pagination li span:focus,  .pagination li span:hover ,.pagination li a p:active{
        z-index: 2;
        color: white;
        background-color: #158322;
        border-color: #158322;
        cursor: pointer;
    }
    
     .pagination li a,.list .pagination li  span {
        color: black;
      
    }
     .pagination > li  {
        position: relative;
        float: left;
        width:32px;
        height: 32px;
        margin-left: -1px;
        line-height: 1.42857143;
        // color: #337ab7;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }
    .pagination > li a p{
        padding: 6px;
        margin: 0;
    }
    .pagination li#pa {
        padding: 4px;
    }
    .row {
        width: 100%;
    }
    
     .btn-group {
        margin: 40px auto;
    }
    
     img {
        width: 100%;
        height: 250px;
        position: relative;
        filter: brightness(70%);
    }
    
     i.far.fa-clock {
        font-size: 90%;
        margin: auto;
        color: white;
        padding-left: 10px;
    }
    
     i {
        font-size: 15px;
        margin: auto;
    }
    
     #by {
        position: absolute;
        margin-top: 200px;
        z-index: 1;
        margin-left: 5%;
        color: #07f1ddf5;
    }
    
     #tt {
        color: white;
        font-size: 150%; 
       position: absolute;
        z-index: 1;
        text-align: left;
        margin-top: 160px;
        margin-left: 5%;
        white-space: nowrap;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
     #tt:hover {
        color:   #07f1ddf5;
        cursor: pointer;
        
    }
     .button {
        position: absolute;
        z-index: 1;
    }
    
     b {
        color: white;
    }
    
     button.btn.btn-success.btn-sm {
        margin: 20px 5px;
    }
    li.active {
        padding: 6px;
        background: #157715 !important;
    }
}



/* Menu */

// header {
//     margin-top: 60px;
// }

.app-menu {
    position: fixed;
    background: white;
    right: 0;
    z-index: 999;
    top: 0;
    width: 100%;
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, .15);
   
    .member-bar {
        text-align: left;
        min-width: 120px;
        float: right;
        margin-top: -7px;
        line-height: 32px;
        display: inline-block;
        position: relative;
       padding-left: 10px;
       padding-top: 14px;
        
    }
    .member-bar:hover .dropdown-content{
        display: block;
    }
     .dropdown-content{
         width: 245px;
         height: 265px;
        position: absolute;
        display: none;
        border:1px solid rgba(0, 0, 0, 0.08);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
        background-color: white;
        right: 0;
    }
    .dropdown-content a{
        padding: 10px 0;
        color: black;
        padding-left: 10px;
        float: left;
        width: 100%;
        text-align: left;
        /* margin-left: 5px; */
        border-bottom: 1px dashed rgba(0, 0, 0, 0.12);
        cursor: pointer;
       
    }
    .dropdown-content a:hover{
        background: #ddd;
    }
    .member-bar .member {
        background-color: #dfe3e6;
        border-radius: 25em;
        color: #17394d;
        cursor: pointer;
        display: block;
        float: left;
        height: 32px;
        margin: 0 4px 4px 0;
        overflow: visible;
        position: relative;
        width: 32px;
        text-decoration: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 0;
        
    }
    
    .member-avatar {
        height: 32px;
        width: 32px;
        border-radius: 25em;
        object-fit: cover;
    }
    
    .menu {
        height: auto;
        width: 100%;
        margin: 0 auto;
        padding-top: 20px;
        float: right;
    }
    
    .menu .topnav {
        float: right;
        text-align: right;
        padding-top: 14px;
    }
    
    .menu .topnav a {
        margin-right: 3px;
        margin-left:15px;
        color: black;
        text-decoration: none;
        font-size: 15px;
    }
    .menu .topnav ul {
        width: 100%;
        padding: 0;
    }
    .menu .topnav ul li{
        list-style: none;
        float: right;
        height: 40px;
        margin: 0 ;
    }
    .menu .topnav a:hover, .menu .topnav a:focus {
        /* text-decoration: underline;
        */
        padding-bottom: 3px;
        border-bottom: 2px solid green;
    }
    
    .menu ul li .fas.fa-search, .fas.fa-shopping-cart {
        font-size: 20px;
        padding-left: 0;
    }
    .logoteam{
        width: 53px;
        margin-left: 6%;
        /* padding-top: 15px; */
        margin-left: 63px;
        padding-bottom: 21px;
        float: left;
        height: 70px;
    }
}

@media only screen and (max-width: 768px) {
    .app-menu .logoteam{
        float: none;
    }
}




/* */

/* LogIn */

/* */

.App-Log {
    text-align: center;
    margin: auto;

    .form-group {
        margin: 20px auto;
        max-width: 400px;
    }
    
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
        height: 40vmin;
    }
    
    .App-header {
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
    }
    
    .td {
        width: 300px;
        display: block;
        margin: auto;
        margin-top: 60px;
    }
    
     .App-link {
        color: #61dafb;
    }
    
    h1 {
        margin-top: 0;
        margin-left: 1%;
    }
    
    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    
    .td a {
        color: black;
    }
    
    .gradMenu {
       
        width: 100%;
        margin-top: 100px;
        height: 124px;
        background-color: red;
      
        background-image: linear-gradient(to right, rgba(125, 172, 233, 0.945), rgb(12, 161, 87));
        color: white;
        position: relative;
    }
    
    .gradMenu .Triangle {
        color: rgba(64, 192, 150, 0.62);
        font-size: 85px;
        position: absolute;
        top: 73%;
        left: 48%;
    }
    
    .MenuRight {
        margin-top: -3%;
        font-size: 13px;
        opacity: 1.7;
        margin-left: 60%;
        float: right;
        display: inline;
    }
    
    .MenuRight a {
        color: white;
    }
    
    .Friends {
        font-size: 30px;
        margin-top: 60px;
        margin-left: -7px;
        ;
        margin-right: 556px;
    }
    .mainten {
        float: left;
        margin-left: 7%;
        margin-top: 1%;
        font-size: 40px;
    }
    
    .Header {
        margin: auto;
        margin-top: 60px;
    }
    
   
    .Boder {
        width: 40px;
        border: 1px solid #57bd57;
        margin: 20px auto;
    }
    
    .dt {
        padding-right: 250px;
        padding-left: 250px;
    }
    
    .login-container {
        padding-top: 48px;
    }
    
    .col-sm-3 {
        margin-left: 40%;
        margin-top: 5%;
    }
    
    .login-container input {
        margin: auto;
    }
    
    .login-container button {
        width: 300px;
        margin-left: 0%;
        color: #fff;
        background-color: #087711;
        border-color: #087711;
    }
    
     .abcd i {
        font-size: 204%;
        margin-left: 1%;
    }
    
     p {
        margin-left: 6%;
    }
    
     .abcd {
        margin-left: 0%;
    }
    
     .col-sm-3 a {
        color: black;
    }
    
     .ft {
        margin-left: 1%;
        margin-top: 2%;
    }
    
     .tri123 {
        margin-top: 200px;
        width: 100%;
        height: 300px;
        background-color: black;
    }
    
     .main {
        margin: auto;
    }
    
     a {
        padding-left: 20px;
    }
    label {
        display: inline-block;
        margin-bottom: 0.5rem;
        float: left;
    }
    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}

// * {
//     margin: auto;
// }



/* */

/* Footer */

.footer {
    margin-top: 30px;
    height: 100%;
    background: black;
     .input-group-addon {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        color: #555555;
        text-align: center;
        background-color: #eeeeee;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    i {
        margin: 5px;
        font-size: 25px;
    }
    
     .row {
        padding-top: 50px;
        text-align: -webkit-left;
    }
    
    .input-group {
        height: 38px;
        border: 0;
    }
    
     span.input-group-addon {
        border: 0;
        height: 38px;
        background: rgb(20, 17, 17);
    }
    
     i.fas.fa-arrow-right {
        color: #4776a0;
        font-size: 15px;
    }
    
    h4 {
        color: #716969;
    }
    
     h5 {
        color: #716969;
    }
    
     p, ul,  li,  span {
        color: #716969;
    }
     ul li a{
        color: #716969;
    }
     p#intense {
        color: #565f56;
        margin-top: 3%;
        font-size: 13px;
    }
    
     .col-xs-3 {
        width: auto;
    }
    
     .col-xs-4 {
        width: auto;
    }
    
     .col-xs-2 {
        width: auto;
    }
    
 
}



/* OurTeam */

.OurTeam {
    .row {
        margin: 30px 0;
        text-align: -webkit-left;
    }
    
     img {
        width: 100%;
        height: 70%;
        margin-bottom: 20px;
       
    }
    
    
    
     .pagination {
        margin: 60px auto;
       
        display: flex;
        padding-left: 0;
        list-style: none;
        border-radius: 0.25rem;
        width: auto;
    
    
    }
    .Page {
        width: max-content;
        margin: auto;
    }
    // .pagination>li:hover,.pagination li a p:active{
    //     z-index: 2;
    //     color: white;
    //     background-color: #158322;
    //     border-color: #158322;
      
    // }
    .pagination>li:hover,  .pagination li a p:focus,  .pagination li span:focus,  .pagination li span:hover ,.pagination li a p:active{
        z-index: 2;
        color: white;
        background-color: #158322;
        border-color: #158322;
        cursor: pointer;
    }
    .pagination > li a p{
        padding: 6px;
        margin: 0;
    }
    .pagination li#pa {
        padding: 4px;
    }
    
     .pagination li a {
        color: black;
      
    }
    li.active {
        padding: 6px;
        background: #157715 !important;
    }
     .pagination > li  {
        position: relative;
        float: left;
        width: 32px;
        height: 32px;
        margin-left: -1px;
        line-height: 1.42857143;
        //color: #337ab7;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }
    
     .col-xs-3.col-sm-3.col-md-3.col-lg-3 {
        margin: 0 auto;
        padding-top: 20px;
        width: auto;
        
    }
    
     i.fa.fa-angle-double-left {
        font-size: 17px;
        margin: 2px;
    }
    
     i.fa.fa-angle-double-right {
        font-size: 17px;
        margin: 2px;
    }
    
     .fas {
        font-weight: 900;
        font-size: 20px;
        margin: 0;
    }
    
     .fa, .far, .fas {
        font-family: "Font Awesome 5 Free";
        font-size: 17px;
        margin: 0;
    }
    
    h4 {
        color: #4eb54e;
    }
    
     p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .topnav a {
        color: #3e3b3b;
        text-decoration: none;
        margin-left: 20px;
    }

   
     hr {
        border: 1px solid green;
        width: 40px;
    }
    
    // .OurTeam .topnav a {
    //     // margin: 20px;
    // }
    
    .topnav a:hover {
        border-bottom: 2px solid #121315;
        color: #121315;
        text-decoration: none;
    }
    
}
/* DETAILS */

.headdetail {
    .row{
        margin: 0;
    }
     .time i {
        padding-left: 2%;
        color: white;
    }
    .contain {
        text-align: center;
    }
    .contain .row .headder {
       background-image: url(https://images-na.ssl-images-amazon.com/images/I/518hH8I80GL.jpg) ;
       background-size: cover;
        height: 450px;
        width: 100%;
        filter: brightness(60%);
        display: 0;
    }
    .col-sm-2 {
        margin: auto;
        padding: 0;
        margin-top: -29%;
        /* text-align: center;
        */
    }
    
     .time {
        color: white;
        width: 100%;
    }
    
     .time .fas {
        font-size: 16px;
    }
    
    .MenuRight1 a {
        color: white;
    }
    
    .MenuRight1 i {
        color: white;
        padding-left: 2%;
    }
    .MenuRight1{
        padding-top: 10%;
    
    }
    
     .tilte {
        margin: auto;
        width: 75%;
        font-size: 35px;
        color: white;
    }
    
}



.details {
    .hs .fab {
        border: 1px solid #c4ccd4;
        width: 33.3%;
        padding: 10px 0;
        /* margin: auto; */
        font-size: 20px;
        /* border: 1px solid; */
    }
    .row{
        margin: 0;
    }
    margin-top: 8%;
    .btn-success {
        margin-right: 17.5%;
    }
    
     .row .icon .icon1{
        width: 100%;
        margin-bottom: 30px;
    }
    
    .bt {
        padding-left: 2%;
    }
    
     .col-md-6 {
        width: 30%;
    }
     .time {
        color: white;
        margin-left: 37%;
        position: absolute;
        margin-top: 10%;
        width: 30%;
        padding-top: 1%;
    }
    .col-xs-2.col-sm-2.col-md-3.col-lg-2{
        padding:0;
        margin:0 auto;
        height: 5%;
        width: auto;
        padding-bottom: 40px;
       
    }
    .col-xs-3.col-sm-3.col-md-3.col-lg-3{
        padding-bottom: 40px;
        margin:0 auto;
        height: 5%;
        width: auto;
       
    }
    .abc .col-xs-3.col-sm-3.col-md-3.col-lg-3{
        padding-bottom: 40px;
        margin:0 ;
        height: 5%;
        // width: auto;
       
    }
    .abc .row .col-sm-6 .col-sm-9 {
        min-width: 200px;
        /* padding-left: 20px; */
        padding-top: 10px;
        width: min-content;
    }
    .col-xs-2.col-sm-2.col-md-3.col-lg-2 .hs{
        min-width: 185px;;
        width: unset;
        border: 0.5px solid #c4ccd4;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    }
    .col-xs-2.col-sm-2.col-md-3.col-lg-2 .card-body{
        height: 3%;
    }
    .text-muted p {
        margin: 10px 0;
        /* margin-top: 0; */
        /* margin-bottom: 1em; */
        font-size: 16px;
        color: #212529;
    }
     .card {
        width: 20%;
        height: 20%;
    }
    h1{
        text-align: center;
        margin: 40px;
    }
     .card-body {
        height: 36%;
    }
    
    .col-xs-2.col-sm-2.col-md-3.col-lg-2 img {
        border: 1px solid white;
        width: 120px;
        margin-top: 10%;
        height: 135px;
    }
    .col-xs-6.col-sm-6.col-md-12.col-lg-6 .col-xs-3.col-sm-3.col-md-3.col-lg-3 img {
        border: 1px solid white;
       
        width: 74px;
        margin-top: 10%;
        height: 74px;
    }
    
     .card-title {
        margin-left: 10%;
    }
    
     .card-body a {
        margin-top: -396%;
        margin-left: 25%;
    }
    
     .bt {
        height: 30%;
        margin-top: 0%;
    }
    
     .bt button {
        border-width: 1px;
        border-style: solid;
        width: 34%;
        height: 103%;
        border-color: grey;
        margin-left: -1%;
    }
    
     .card p {
        margin-left: 12%;
        margin-top: 10%;
        width: 100%;
        color: blue;
    }
    
     .col-xs-7.col-sm-8.col-md-7.col-lg-7 {
        text-align: -webkit-left;
    }
    
    .col-xs-7.col-sm-8.col-md-7.col-lg-7 .word p:first-child:first-letter {
        color: rgb(189, 189, 189);
        float: left;
        font-family: 'Times New Roman', Times, serif;
        font-size: 120px;
        line-height: 82px;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
        
    }
    .col-xs-7.col-sm-8.col-md-7.col-lg-7 .word p{
        font-size: 18px;
    }
     .conclusion {
        padding-top: 5%;
    }
    
     .btn-warning {
        color: #ffffff;
        background-color: #ff321d;
        border-color: #ff5c02;
        width: 120px;
    }
    
     .btn-info {
        color: #fff;
        background-color: #17a2b899;
        border-color: #17a2b899;
        margin-left: 1%;
        width: 250px;
    }
    
     .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        margin-left: 1%;
        width: 250px;
    }
    
     .col-sm-8 p {
        font-size: 18px;
    }
    
     .tagbar Button {
        border-color: #00000021;
        margin-left: 1%;
    }
    
     .tagbar {
        margin-top: 2%;
    }
    
     .foot {
        width: 100%;
    }
    .foot button {
        margin-top: 10px;
    }
     .card-body #sp {
        font-size: 14px;
        margin-left: 8%;
        color: #007bff;
        margin-top: -13px;
    }
    
     .Boder1 {
        width: 100%;
        border: 1.0px solid #d8e1db;
        margin: auto;
        margin-top: 3%;
    
    }
    
     h3 {
        text-align: center;
        margin-top: 7%;
        color: #594e4e;
    }
    
     .abc {
        margin-top: 54px;
    }
    
     .abc img {
        border: 1px solid;
        // border-radius: 164px;
        height: 76px;
        width: 76px;
    }
    
     .abc .b {
        margin-left: 30%;
    }
    //  .abc .row .col-sm-6 .col-sm-9{
    //     padding-left: 20px;
    //     padding-top: 5px;
    //     width: auto;
    // }
     .abc p {
        margin-left: 8.5%;
    }
    
     .abc .fa p {
        margin-top: -111%;
        margin-left: 130%;
        color: #594e4e;
        font-size: 14px;
    }
    
     .abc .line2 {
        margin-left: 30.5%;
    }
     .abc p {
        margin-left: 8.5%;
    }
    
     .abc .fa p {
        margin-top: -111%;
        margin-left: 130%;
        color: #594e4e;
        font-size: 14px;
    }
    
     .abc .line2 {
        margin-left: 30.5%;
    }
    //  .abcb {
    //     margin-top: 54px;
    // }
    
    // .abcb img {
    //     border: 1px solid;
    //     border-radius: 164px;
    //     height: 76px;
    //     width: 76px;
    // }
    
    //  .abcb .b {
    //     margin-left: 30%;
    // }
    //  .abcb .row .col-sm-6 .col-sm-9{
    //     padding: 0;
    // }
    // .abcb p {
    //     margin-left: 8.5%;
    // }
    
    //  .abcb .fa p {
    //     margin-top: -111%;
    //     margin-left: 130%;
    //     color: #594e4e;
    //     font-size: 14px;
    // }
    
    // .abcb .line2 {
    //     margin-left: 30.5%;
    // }
    //  .abcb p {
    //     margin-left: 8.5%;
    // }
    
    // .abcb .fa p {
    //     margin-top: -111%;
    //     margin-left: 130%;
    //     color: #594e4e;
    //     font-size: 14px;
    // }
    
    //  .abcb .line2 {
    //     margin-left: 30.5%;
    // }
     .media.border.p-3.a {
        margin-top: 5%;
    }
    
     .media.border.p-3.a img {
        width: 11%;
    }
    
     .media.border.p-3.a .mr-3, .mx-3 {
        margin-right: 1rem !important;
    }
    
     .media.border.p-3.b {
        margin-top: 3%;
    }
    
     .media.border.p-3.b img {
        width: 11%;
        height: 60px;
    }
    .fa {
        position: absolute;
        margin-left: -1.5%;
        color: #007bff87;
        font-size: 15px;
    }
   .media.border.p-3.a .mr-3, .mx-3 {
        margin-right: 1rem !important;
    }
    .far, .fas {
        padding-left: 2%;
        font-size: 17px;
    }
    
     .fab {
        font-size: 17px;
    }
    
    
     .media.border.p-3.a i {
        font-size: 15px;
    }
    
     .media.border.p-3.b i {
        font-size: 15px;
    }
     .btn-success {
        margin-right: 83.5%;
    }
}










/* Pricing */
.pricing {
 
     hr {
        width: 40px;
        border: 1px solid green;
    }
    
     Button {
        margin: 40px auto;
    }
    
     Button p {
        float: right;
        margin: 0;
    }
    
     Button i {
        float: left;
    }
     .body1 .row .col-xs-6.col-sm-6.col-md-8.col-lg-6{
        width: 80%;
        margin: auto;
    }
    #price b {
        color: #03A9F4;
        font-size: 30px;
    }
    .row .col-xs-4 .price {
        margin: auto;
    }
    #price b i {
        font-size: 15px;
    }
    //  .body1 .row .col-xs-6.col-sm-6.col-md-6.col-lg-6{
    //     width: 80%;
      
    // }
     .body1 #number {
        color: #03A9F4;
    }
    
     .body1 .price b {
        color: #03A9F4;
    }
    
     .body1 {
        padding-bottom: 50px;
    }
     .body1 p{
        height : 57px;
    }
     .body1 img {
        height: 60px;
        /* vertical-align: middle;
        */
        transform: rotate(-15deg);
        margin-top: 20px;
        position: absolute;
        margin-left: 33%;
    }
    .body1 Button{
        height: 40px;
    }
    .body1 .row hr {
        width: 80%;
        border: 1px solid #03A9F4;
    }
    
     ul {
        list-style: none;
        padding: 0;
    }
    
     ul li {
        border-bottom: 0.5px solid rgb(224, 210, 210);
        padding-top:10px;
        padding-bottom: 5px;
       height: 50px;
    }
    
     .body1 .row .col-xs-4.col-sm-4.col-md-4.col-lg-4 {
        width: auto;
        padding-bottom: 30px;
    }
    
     .body1 .row .col-xs-4.col-sm-4.col-md-4.col-lg-4:hover {
        border: 0.5px solid #c4ccd4;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
        cursor: pointer;
    }
    
     .col-xs-4.col-sm-4.col-md-4.col-lg-4 .btn.btn-primary.btn.btn-default {
        width: 80%;
        background: #03A9F4;
        border: #03A9F4;
        padding: 0;
        // height: 35px;
        margin: auto;
    }
    
    .row {
        margin: auto;
    }
    
    .col {
        padding: 0;
    }
    
    .body2 .row {
        text-align: left;
    }
    
    .body2 .col-xs-4.col-sm4.col-md-4.col-lg-4 {
        width: auto;
        margin: 0 auto;
    }
    
   .body2 {
        background-image: url("http://andreluu.com/wp-content/uploads/2015/12/DSC0563.jpg");
        height: auto;
    }
    
     .bd {
        padding: 50px 0;
    }
    
     .body3 {
        background: #353434;
        color: white;
        margin-bottom: -70px;
    }
    
     .body3 .nd {
        padding: 30px 0;
    }
     .body3 .nd h2 {
        color: white;
    }
    
     .body3 .nd i {
        padding: 4px 6px;
    }
    
  
    
   .dola {
        float: left;
        color: rgb(189, 189, 189);
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        line-height: 0px;
        padding-top: 9px;
        padding-right: 0px;
        padding-left: 4px;
    }
    
    .price {
        width: 115px;
    }
    
    .price #number {
        float: left;
        font-family: 'Times New Roman', Times, serif;
        font-size: 35px;
        line-height: 0px;
        padding-top: 17px;
        padding-right: 3px;
        padding-left: 3px;
    }
}

/* AboutUs */
.AboutUs{
    width: 100%;
     .row{
         margin: auto;
        width: 100%;
        padding-top: 20PX;
        padding-bottom: 50PX;
    }
     .row .data{
        text-align:  -webkit-auto;
    }
     .row .bg-success {
        background-color: #28a745!important;
    }
     .row .bg-info {
        background-color: #43ebcc!important;
    }
     .row .bg-warning {
        background-color: #f3b70c!important;
    }
     .row .bg-danger {
        background-color: #ff0b0bf0!important;
    }
     .row .col-sm-6 .progress{
        margin: 0;
    }
     .row .right .w-75.bg-success{
            width: 70%!important;   
            margin:0;   
    }
     .row .right .w-75.bg-info{
        width: 54%!important;   
        margin:0;    
    }
     .row .right .w-75.bg-warning{
        width: 87%!important;
        margin:0;       
    }
     .row .right .w-75.bg-danger{
        width: 65%!important; 
        margin:0;      
    }
     .row .col-sm-4.right .left{
        float: left;
    }
     .row .col-sm-4.right .right{
        float: right;
    }
     .progress{
        width: 100%;
    }
     .til{
        text-align: -webkit-auto;
        // margin-left: 14%;
        font-size: 36px;
    }
     .boder2{
        width: 60px;
        border: 1px solid #0b9e35;
        margin: auto;
        float: left;
        
        // margin-left: 14%;
    }
    .html{
        margin-top: 100px;
    }
    .row .line img{
        width: 100%;
      
    }
    .row .col-xs-8{
        padding: 0;
        margin: auto;
    }
     .row.down1 .col-xs-3.col-sm-3.col-md-3.col-lg-3 img{
        width: 100%;
        height: 89%;
        margin-top: 18%;
    }
    
     .center1{
        width: 100%;
        height: auto;
        background:#000000e6;
        margin-top: 8%;
        
    }
    .center1 .col-xs-3.col-sm-3.col-md-3.col-lg-3 {
        margin: auto;
    }
     .center1 .col-xs-3.col-sm-3.col-md-3.col-lg-3 .far.fa-clone {
        font-family: "Font Awesome 5 Free";
        font-size: 30px;
        color: #1aa31ac2;
    }
     .center1 .col-xs-3.col-sm-3.col-md-3.col-lg-3 .number{
        font-size: 40px;
        color: white;
    }
     .center1 .col-xs-3.col-sm-3.col-md-3.col-lg-3 .far.fa-clock{
        font-family: "Font Awesome 5 Free";
        font-size: 40px;
        color: #db8b07;
    }
     .center1 .col-xs-3.col-sm-3.col-md-3.col-lg-3 .far.fa-user{
        font-family: "Font Awesome 5 Free";
        font-size: 40px;
        color: #62fbffe6;
    }
     .center1 .col-xs-3.col-sm-3.col-md-3.col-lg-3 .fas.fa-expand{
        font-family: "Font Awesome 5 Free";
        font-size: 40px;
        color: #ff0808e6;
    }
     .center1 .col-xs-3.col-sm-3.col-md-3.col-lg-3 .far{
        margin-top: 25%;
    }
     .center1 .col-xs-3.col-sm-3.col-md-3.col-lg-3 .fas{
        margin-top: 25%;
    }
     .choose{
        width: 100%;
        height: auto;
        background:white;
        filter: brightness(95%);
    }
     .choose .img2{
        width: 84%;
        height: 106%;
        padding-top: 22%;
    }
     .choose .boderchoose{
        width: 12%;
        border: 1px solid green;
        color: green;
        margin: auto;
    }
    //  .choose .line1 .fa.fa-desktop{
    //     font-size: 300%;
    //     padding-top: 17%;
    // }
     .choose .line1 .tech{
        line-height: 85px;
        color: #0000ffab;
        font-size: 100%;
    }
     .choose .why{
        font-size: 300%;
        margin-top: 30%;
    }
    
     .choose .ttle .line1 i {
        color: rgb(189, 189, 189);
        float: left;
        font-size: 280%;
        line-height: 95px;
        padding-top: 4px;
        padding-right: 10px;
    }
    .ttle p{
        width: max-content;
        text-align: start;
    }
    //  .choose .ttle .line1 i.fas.fa-calendar-alt {
    //     color: rgb(189, 189, 189);
    //     float: left;
    //     font-size: 280%;
    //     line-height: 95px;
    //     padding-top: 4px;
    // }
    //  .choose .ttle .line1 i.fas.fa-headphones-alt {
    //     color: rgb(189, 189, 189);
    //     float: left;
    //     font-size: 280%;
    //     line-height: 95px;
    //     padding-top: 4px;
    // }
     .line2 .client .card{
        width: 18rem;
        text-align: -webkit-auto;
    }
    .line2{
        width: 100%;
        height: auto;
    }
    .line2 .client .card img{
        border-radius: 164px;
        height: 76px;
        width: 76px;
        float: left;
        margin-top: 5%;
    }
    .line2 .client .card{
        width: auto;
        height: auto;
    }
    .line2 .client .info{
        text-align: -webkit-auto;
        float: left;
        margin-right: 36%;
    }
     .col-xs-3{
        width: auto;
    }
     .col-xs-8{
        width: auto;
    }
     .line2 .say{
        font-size: -webkit-xxx-large;
        padding-top: 8%;
    
    }
     .line2 .boderline2{
        width: 3%;
        border: 1px solid green;
        color: green;
        margin: auto;
    }
    .line2 .client{
        padding-top: 5%;
    }
    .col-xs-4{
        width: 100%;
    }
    .col-xs-10.col-sm-10.col-md-10.col-lg-10{
        margin: auto;
    }
}

// *{
//     margin: 0;
// }
/* contact us */
.contactus{    
    font-family: 'Roboto', sans-serif; 
    text-align: left;
    margin-bottom: 6%;
    hr{
        width: 30px;
        border: 1px solid #75b375;
        margin-left: 0;
        margin-top: 32px;
    }
    h1{
        font-size: 29px;
    }
    .infowe{
        margin:0;
        p{
            font-size: 13.5px;
            padding-top: 15px;
        }
        b{
            padding-top: 26px;
            display: block;
            color: #69BDEA;
        }
    }
    .infoyou{
        margin-top:0px;
        h1{margin-top:0px;}
        hr{ margin-bottom: 33px;}
        .col-xs-6.col-sm-6.col-md-6.col-lg-6{
            padding-left: 0px;
        }
        .name{margin:0; float: left;}
        .email{ 
            padding-right: 0px;
            margin:0;
            float: left;
        }

        .buttondark{border: 1px solid #d4c1c1;}
        .buttondark:hover{color:white;}
        .btn.btn-success:hover{background-color:#346C46;}
        .btn.btn-success{background-color:#62AF78;}
        .btn{
            height: 42px;
            margin-right: 12px;
            font-size: 14px;
            font-weight: 500;
        }
        .messenge{
            margin-top: 114px;
            margin-bottom: 31px;
        }
    }
}

.careers{

    hr{
        width: 50px;    
        border:1px solid green;
    }
    button{
        width:200px;
        height:50px ;
    }
    header{
        background: #353434;
        color: white;
        margin-bottom: -70px;
        padding:  0 5px;
        color: white;
    }
    .body1  .svg-triangle-bottom {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 60px;
        height: 30px;
        margin-top: -1px;
        margin-left: -30px;
        z-index: 2;
    }
    .body1{
        background-image: linear-gradient(to right, #0e63b1, #7aafe8);
        margin: 50px 0;
        height:180px;
        position: relative;
        color: white;
    
    }
    .body1 h2{
        padding: 40px 20px 0 0;
        color: white;
    }
    .row{
        margin: auto;
       
    }
    .timecareers .time{
        text-align: left;
    }
    .card p i{
        font-size: 10px;
        padding-left: 5px;
    }
    .card{
        margin: 10px 0;
    }
    .card:hover{
        background-color: grey;
    }
     .fas.fa-check-double{
        float: left;
      }
     .details .far .careers  .fas.fa-check-double{
        
          padding-left: 2%;
          font-size: 17px;
      }
    button.btn.btn-success.btn.btn-default {
          height: 35px;
          margin-bottom: 70px;
      } 
}
// user profile
.profile{
    text-align: left;   
    margin: 7% 0;
     .menuuser{
        width: 100%;
    }
      .menuuser .list-group-item{
        width: 100%;
        margin-left: 0px;
        height: 51px;
        display: flex;
        font-weight: 600;
        font-family: roboto;
        font-size: 15px;
        align-items: center;
        margin: 0px;
        color: #5f5f5f;
    }
     .col-xs-12.col-sm-3.col-md-3.col-lg-3{
        margin: 0;
    }
    
    .menuuser .list-group-item.small:hover {
        background-color: white;
        color: #5A88C2;
        border-left: 4px solid #5A88C2;
    }
    .list-group-item.small .far{}
    .menuuser div.list-group-item{
        background-color: #F3F5F8;
    }
     .menuuser i{
        font-size: 14px;
        padding-right: 9px;
        margin-top: -1%;
    }
     .infoprofile{margin-top:0px;}
     .infoprofile .titleprofile{
        font-size: 25px;
        font-weight: 500;
        font-family: roboto;
        margin-bottom: 42px;
        p{margin:0;padding: 0;}
    }
    .infoprofile .titleprofile .borderbottom{
        border: 1px solid #DFDFE0;
        width: 85%;
        margin-top: -15px;
        margin-left: 81px;
    }
    .infoprofile .avatar{text-align: center; margin:0; padding-left: 5px}
    .infoprofile img{
        border-radius: 50%;
        width: 120px;
        height: 120px;
    }
    .infoprofile .info{
        font-size: 16px;
        font-family: roboto;
    }
    .infoprofile .info .start{
        color: #E7756D;
        margin-right: 4px;
    }
     .infoprofile .info div{
        margin-top:10px;
    }
     .infoprofile .info input{
        margin: 10px 0;
        height: 37px;
    }
    .infoprofile .info button{
        border: 1px solid #C8D7EB;
        color: #839FD5;
        background-color: #EEF3F8;
        float: right;
        margin-top: 15px;
        padding: 9px 21px;  
    }
     i.anticon.anticon-plus{
        margin-right: 0;
    }

}
@media only screen and (max-width: 1024px) {
    .profile .infoprofile img{
        width: 100%;
    height: 87px;
    }
}
@media only screen and (max-width: 768px) {
    .profile .infoprofile .avatar{
        margin-left: 5%;
    }
    .profile .infoprofile .titleprofile .borderbottom{
        width: 71%;
    }
}

// My Post
.mypost {
    h1 {
        margin-top:20px
    }
    .body1 i {
        margin: 0;
        font-weight: 900;
        font-size: 14px;
        padding: 5px;
        padding-right: 5px;
        padding-left: 10px;
        
        color: #1fbfda;
    
    }
    button.btn.default.a{
        margin-left: 15px;
    }
     .row{
        margin: 0;
    }
     input.form-control {
        width: 90%;
        border-right: 0;
      
    }
     .input-group-text.bg-transparent {
        border-left: 0;
    }
     h4{
        text-align: left;
       padding: 25px 0;
    }
     img{
        width:100%;
        height: 100%;
        margin: auto;
        padding-top:15px;
    }
     .row .col-xs-2.col-sm2.col-md-2.col-lg-2, .row .col-xs-5.col-sm5.col-md-5.col-lg-5{
        width: auto;
    
    }
    .row .col-xs-12.col-sm3.col-md-3.col-lg-3{
        // margin-top:0;
        // padding-left: 0;
        margin: 0;
       
      
    }
     .menuuser{
  
        padding-top: 20px;
        width:auto;
        margin:auto;
    }
     .menuuser .list-group-item{
        width: 100%;
        margin-left: 0px;
        height: 51px;
        display: flex;
        font-weight: 600;
        font-family: roboto;
        font-size: 15px;
        align-items: center;
        margin: 0px;
        color: #5f5f5f;
    }
    // .mypost p#content {
    //     // white-space: nowrap;
    //     // width: 100%;
    //     // overflow: hidden;
    //     // text-overflow: ellipsis;
    // }
     .row  ul{
        padding-left: 10px;
        text-align: left;
        
    }
 
     .row .button button{
        border:1px solid #9c8888;
        float: left;
        margin-right: 10px;
        margin-top: 10px;
    }
     .row .col-xs-5.col-sm5.col-md-5.col-lg-5 {
        text-align: left;
        margin: 0;
    }
     .body1 {
        padding: 25px 0;
    }
     .body1 img{
        padding: 20px 0;
    }
     .body1 button{
     margin: 30px 0;
     border:1px solid #9c8888;
    }
     .body1 hr{
        width: 100%;
    }
    .body1 .carousel-control.left ,  .body1 .carousel-control.right {
        height:0;
      
    }
      .pagination {
        margin: 40px auto;
        display: -webkit-box;
        padding-left: 0;
        list-style: none;
        border-radius: 0.25rem;
        width: 300px;
        margin: 20px 0;
    
    }
    li.active {
        padding: 6px;
        background: #157715 !important;
    }
    
    .pagination>li:hover,  .pagination li a p:focus,  .pagination li span:focus,  .pagination li span:hover ,.pagination li a p:active{
        z-index: 2;
        color: white;
        background-color: #158322;
        border-color: #158322;
        cursor: pointer;
    }
    
     .pagination li a {
        color: black;
      
    }
    .pagination > li a p{
        padding: 6px;
        margin: 0;
        text-align: center;
    }
    .pagination li#pa {
        padding: 4px;
    }
     .pagination > li  {
        position: relative;
        float: left;
        width: 32px;
        height: 32px;
        margin-left: -1px;
        line-height: 1.42857143;
        // color: #337ab7;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }
    
     .row .col-xs-5.col-sm5.col-md-5.col-lg-5 ul{
        padding: 0;
    }
    hr#a{
        width: 100%;
        border: 1px solid #f1e9e6;
    }
     hr#b{
        width: 15%;
       margin-top: -22px;
      margin-bottom: 0;
        
        float: left;
        border: 1px solid black;
    }
    .menuuser div.list-group-item{
        background-color: #F3F5F8;
    }
    .menuuser i{
        font-size: 14px;
        padding-right: 9px;
        margin-top: -1%;
     
    }
     .menuuser a{
      color: black;
    }
    .menuuser .list-group-item.small:hover {
        background-color: white;
        color: #5A88C2;
        border-left: 4px solid #5A88C2;
    }
    // .list-group Link > i {
    //     text-transform: capitalize;
    //     color: #333;
    //     transition: background-color .2s, color .2s;
        
    //     &:hover,
    //     &:focus {
    //         background-color: #333;
    //         color: #fff;
    //     }
    // }
}


// NewPost
.NewPost {
    .TITLE{
        font-size: 30px;
    }
     .boder{
        width: 3%;
        border: 1px solid #fe7e10;
        color: #fe7e10;
        margin: auto;
    }
     .row {
        margin-top: 5%;
    }
    .ql-container.ql-snow {
        height: 400px;
    }
    .ant-upload.ant-upload-select-picture-card{
        margin-left: 13%;
    }
    .row .left{
        float: left;
    }
    .row p{
        // float: left;
    }
    .aa .row{
        margin-top: 4%;
    }
    .aa .row .content{
        margin-left: 3%;
    }
    .row .ip{
        width: 100%;
    }
    .row .col-xs-6 input{
        width: 100%;
    }
   
     .row .form-group textarea{
        width: 100%;
        
    }
     .row .col-xs-5 {
        float: 0;
        width: 100%;
    }
     .row .custom-select{
        height: 34px;
    }
     .row .form-group{
        width: 95%;
        /* padding-top: 30%; */
        margin: auto;
    }
    .row .btn.btn-warning{
        float: left;
        width: 32%;
        margin-top: 5%;
        margin-left: 3%;
    }
    
    
     .row .boder2{
        width: 100%;
        border: 1px solid #efebe7;
        margin-top: 2%;
    }
    
     .row .form-text-editor{
        width: 100%;
    }
     .row .col-xs-3{
        margin: 0;
        width: 100%;
    }
    .col-xs-5 .col-xs-5 p{
        padding-top: 5%;
    }
     .row .avata{
        padding-top: 5%;
    }
    .row .avata i{
        font-size: 30px;
    }
    .photo .avatar-uploader img{
        width: 100%;
    }
    // menuus
     .menuuser.list-group .col-xs-3{
        margin: 0;
    }
    
     .menuuser .list-group-item{
        
        width: 100%;
        margin-left: 0px;
        height: 51px;
        display: -webkit-flex;
        display: flex;
        font-weight: 600;
        font-family: roboto;
        font-size: 15px;
        -webkit-align-items: center;
        align-items: center;
        margin: 0px;
    
    }
    .menuuser a.list-group-item.small {
        color: #5f5f5f;
    }
    .menuuser .list-group-item.small:hover {
        background-color: white;
        color: #5A88C2;
        border-left: 4px solid #5A88C2;
    }
     .list-group-item.small .far{}
     .menuuser div.list-group-item{
        background-color: #F3F5F8;
    }
     .menuuser i{
        font-size: 14px;
        padding-right: 9px;
        margin-top: -1%;
    }
     .list-group Link > i {
        text-transform: capitalize;
        color: #333;
        transition: background-color .2s, color .2s;
        
        &:hover,
        &:focus {
            background-color: #333;
            color: #fff;
        }
    }
    
    .list-group Link.list-group-item.small.active > i {
        background-color: #333;
        color: #fff;
    
    }
}
//menuuser




